if SHIELD_HONOS_LEFT

config ZMK_KEYBOARD_NAME
    default "Honos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HONOS_LEFT || SHIELD_HONOS_RIGHT

config ZMK_SPLIT
    default y


endif